.two-column-content {
	border-bottom: 2px solid $c-light-grey;
	padding-top: 40px;

	&__text {
		margin: 0 15px 35px;
		line-height: 22px;

		img {
			&.desktop {
				display: none;
			}
		}
	}

	&__image {
		img {
			display: block;
			max-width: 80%;
			margin: 0 auto;

			&.desktop {
				display: none;
			}
		}
	}

	&--inventory {
		.two-column-content__image {
			position: relative;
			padding-bottom: 70px;
			margin: 0 15px;

			img:nth-child(2), img:nth-child(3) {
				position: absolute;
			}
			img:nth-child(2) {
				width: 180px;
				left: 0;
				bottom: 20px;
			}
			img:nth-child(3) {
				width: 130px;
				right: 0;
				bottom: 30px;
			}
		}
	}
	&--google {
		.two-column-content__text {
			margin-bottom: 0;
		}
		.two-column-content__image {
			img	{
				max-width: 90%;
			}
		}
	}
	&--social {
		margin-bottom: 30px;

		.two-column-content__text {

			.social-logo {
				display: flex;

				img {
					align-self: center;
				}
				img:nth-of-type(1) {
					max-width: 100px;
					margin-right: 20px;
				}

				img:nth-of-type(2) {
					max-width: 100px;
				}
			}
		}

		.two-column-content__image {
			img	{
				max-width: 90%;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		display: flex;
		margin: 0 15px;
		align-items: center;

		&:nth-child(odd) {
			.two-column-content__image {
				order: -1;
			}
		}

		&__text, &__image {
			@include make-col-ready();
			@include make-col(9);
			padding: 0;
			margin: 0;
		}

		&__image {
			align-self: flex-end;
			img	{
				max-width: 100%;
			}
		}

		&--inventory {
			.two-column-content__image {
				margin: 0;

				img:nth-child(1) {
					max-width: 70%;
				}

				img:nth-child(2) {
					width: 130px;
					left: -10px;
					bottom: 35px;
				}

				img:nth-child(3) {
					width: 100px;
					right: 15px;
					bottom: 50px;
				}
			}
		}
		&--google {
			padding-bottom: 15px;

			.two-column-content__text {

				.logo-image {
					display: flex;

					img {
						align-self: center;
					}

					img:nth-child(1) {
						max-width: 160px;
						margin-right: 20px;
					}
					.desktop {
						display: block;
						max-width: 60px;
						padding-bottom: 15px;
					}
				}
			}
			.two-column-content__image {
				position: relative;
				height: 230px;
				align-self: center;

				.mobile	{
					display: none;
				}

				.desktop {
					display: block;
				}

				img:nth-child(2) {
					max-width: 130px;
					position: absolute;
					left: 0;
					top: 0;
				}

				img:nth-child(3) {
					max-width: 195px;
					position: absolute;
					right: 0;
					top: 10px;
				}

				img:nth-child(4) {
					max-width: 195px;
					position: absolute;
					right: 0;
					bottom: 20px;
				}
			}
		}
		&--social {
			.two-column-content__text {
				.social-logo {
					img:nth-of-type(1) {
						max-width: 70px;
						margin-right: 40px;
					}

					img:nth-of-type(2) {
						max-width: 80px;
					}
				}
			}

			.two-column-content__image {
				.mobile {
					display: none;
				}
				.desktop {
					display: block;
					max-width: 98%;
				}
			}
		}
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 40px;

		&__text {
			@include make-col(8);
		}

		&__image {
			@include make-col(10);
		}

		&--inventory {
			.two-column-content__image {
				img:nth-child(2) {
					width: 190px;
				}

				img:nth-child(3) {
					width: 150px;
				}
			}
		}
		&--google {
			.two-column-content__image {
				img:nth-child(2) {
					left: 40px;
					top: 0;
				}

				img:nth-child(3), img:nth-child(4) {
					right: 40px;
				}
			}
		}
		&--social {
			.two-column-content__image {
				.mobile {
					display: block;
					margin-left: -40px;
				}
				.desktop {
					display: none;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		@include make-container();
		@include make-container-max-widths();
		padding: 0;

		&--inventory {
			.two-column-content__image {
				img:nth-child(2) {
					width: 270px;
				}

				img:nth-child(3) {
					width: 200px;
				}
			}
		}
		&--google {
			padding-bottom: 35px;

			.two-column-content__text {

				.logo-image {

					img:nth-child(1) {
						max-width: 190px;
						margin-left: -10px;
					}
					.desktop {
						display: none;
					}
				}
			}
			.two-column-content__image {
				height: initial;

				.mobile	{
					display: block;
					max-width: 100%;
				}

				.desktop {
					display: none;
				}
			}
		}
		&--social {
			margin-bottom: 90px;

			.two-column-content__text {
				.social-logo {
					img:nth-of-type(1) {
						max-width: 100px;
						margin-right: 70px;
					}

					img:nth-of-type(2) {
						max-width: 100px;
					}
				}
			}
			.two-column-content__image {
				.mobile {
					display: block;
					margin-left: 0;
				}
			}
		}
	}
}
