.header {
	background: $c-blue;
	text-align: center;
	padding: 40px 0 30px;

	&__container {
		position: relative;

		&--phone {
			position: absolute;
			top: -30px;
			right: 10px;
			color: $c-white;
			text-decoration: none;
			width: 45px;
			height: 45px;

			box-shadow: 0 1px 11px 3px rgba(13, 15, 16, 0.2);
			border-radius: 25px;
			font-size: rem(22);
			transition: all .2s linear;

			span {
				display: none;
			}

			i {
				color: white;
				position: absolute;
				left: 11px;
				top: 11px;

				transform: rotate(-22deg);
			}

			&:hover {
				box-shadow: 0 1px 11px 3px  rgba(13, 15, 16, 0.3);
			}
		}

		@include media-breakpoint-up(lg) {
			@include make-container();
			@include make-container-max-widths();

			&--phone {
				width: initial;
				height: initial;
				font-size: rem(12);
				font-weight: 700;
				padding: 8px 15px;
				font-family: $font-family-header;
				top: 0;

				span {
					display: initial;
				}

				i {
					position: initial;
				}
			}
		}
	}
}
