////
/// Variables
////

/// Colour Palette
/// @link: http://chir.ag/projects/name-that-color


$c-blue:        #08a0e3;
$c-dark-blue:   #1b6fc6;
$c-white:       #fff;
$c-black:       #000;
$c-grey:        #414141;
$c-light-grey:  #ebebeb;
$c-grey-dark:   #232323;

$font-family-base: 'HindSiliguri', 'Arial', sans-serif;
$font-family-header: 'GothamRounded', 'Arial', sans-serif;

// H1 - Gotham Rounded - Medium / bold
// p - Hind Siliguri - regular
// footer - Proxima Nova - regular
